* {
  font-family: "microsoft yahei", arial, sans-serif;
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
}
html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 800px) {
  body {
    padding: 0 8px;
  }
}
.bg-gray{
  background-color: #cccccc;
}
a {
  text-decoration: none;
  display: inline-block;
}
input[type=text], input[type=password]{
	padding: 5px;
	border-radius: 5px;
	outline: none;
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}
.mybtn{
	background-color: #0066FF;
	color: #FFFFFF;
	padding: 5px 10px;
	border-radius: 5px;
	outline: 0;
	border: 0;
	cursor: pointer;
	font-size: 14px;
}
.mybtn:hover{
	background-color: #000000;
}
.yellow{
	color:#F5AF73;
}
.text-center{
	text-align:center;
}
.hasnav{
	padding-top:60px;
}
.clear-both{
	clear: all;
}
.mynavbar{
	height: 80px;
	background-color: #0066FF;
	color: #FFFFFF;
	padding:0  100px;
	box-shadow: 2px 2px 5px #000000;
}
.navitem{
	display: inline-block;
	line-height: 80px;
	width: 120px;
	text-align: center;
	float: left;
}
.logout{
	line-height: 80px;
	float: right;
}
.navitem:hover{
	border-bottom: 3px solid #FFFFFF;
}
.item-active{
	background-color: #000099;
}
.left-content{
	position: absolute;
	width: 480px;
	left: 80px;
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #000000;
	background-color: #FFFFFF;
}
.left-content>*{
	margin: 10px 10px;
}

.right-content{
	position: absolute;
	width: 480px;
	right: 80px;
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #000000;
	background-color: #FFFFFF;
}

hr{
	border-color: #0066FF;
}
.label{
	text-align: right;
}
.form-item{
	text-align: left;
}
.iphone{
	border: 1px solid #000000;
	padding: 20px 5px;
	border-radius: 5px;
	width: 400px;
}
.title-preview-img{
	width: 300px;
	height: 150px;
	background-position: center;
	background-size: cover;
	border-radius:10px 10px 0 0 ;
}
#edui1_iframeholder{
	width: auto!important;
}



/*index.html*/
.login-con{
	width: 600px;
	height: 400px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 5px #000000;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 10px;
	text-align: center;
	padding-top: 40px;
}
.login-con table{
	display: inline-block;
}
.login-con tr>td{
	padding: 10px 0;
}
.login-con tr>td:first-child{
	text-align: right;
}
.login-con tr>td:last-child{
	text-align: right;
	width: 200px;
}
.full-bg{
	background-image: url(../img/loginbg.jpg);
	background-position: center;
	background-size: cover;
}

.lines-con{
	width: 500px;
	padding: 20px;
	position: absolute;
	left: 0;
	right: 0;
	margin:10px auto;
}
.one-line{
	margin: 10px 0;
	padding: 20px 5px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #000000;
	background-color: #FFFFFF;
}
.one-line-operate{
	margin: 0 5px;
}
.one-line-img{
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 150px;
	border-radius:10px 10px 0 0 ;
}
.one-line-title{
	width: 388px;
	color: #F5AF73;
}
.login-info{
	color:red;
	margin:0;
}
.title-preview-text{
	color: #F5AF73;
}
.guides-con{
	width:100%;
	height:600px;
	overflow:auto;
}
.workers-con{
	position: absolute;
	width: 440px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 5px #000000;
	left: 0;
	right: 0;
	margin: 20px auto;
	padding: 20px;
}
.one-worker-con{
	display:block;
	float:left;
	width:32%;
	height: 130px;
	margin-right:3px;
	margin-top:3px;
}
.one-worker{
	display: inline-block;
	width: 100%;
	height: 130px;
	margin: 3px;
	/*border: 1px solid #F5AF73;*/
	text-align: center;
	border-radius: 10px;
	color: #F5AF73;
}
.one-worker:hover{
	background-color: #F5AF73;
	color:#FFFFFF;
}
.one-worker-img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	margin: 10px auto;
}
.one-worker-img-detail{
	width: 120px;
	height: 120px;
	border-radius: 5px;
	background-position: center;
	background-size: cover;
	margin: 10px auto;
}
.namebtn{
	margin-right: 10px;
}
.guide-preview{
	width:49%;
	height: 240px;
	margin: 3px 0;
	border: 1px solid #F5AF73;
	text-align: center;
	border-radius: 10px;
}
.guide-name-con{
	border-top:2px solid #F5AF73;
	border-bottom:2px solid #F5AF73;
}
.serch-nav{
	position:fixed;
	width: 100%;
	height:50px;
	top:0;
	left:0;
	padding:10px 20px 10px 0;
	background-color: #F5AF73;
	box-shadow: 2px 2px 5px #000000;
}
.serch-text{
	margin-right:10px;
	background-color: #FFFFFF;
	height:29px;
}
.change-pwd{
	line-height: 80px;
	margin-right:20px;
}
@keyframes ani-out{
    0%{top: 0; opacity: 1;}
    100%{top: -50px; opacity: 0;}
}
@-webkit-keyframes ani-out{
    0%{top: 0; opacity: 0;}
    100%{top: -50; opacity: 1;}
}
.ani-out{
    animation: ani-out 0.5s linear;
    -webkit-animation: ani-out 0.5s linear;
}
@keyframes ani-out{
    0%{top: 0; opacity: 1;}
    100%{top: -50px; opacity: 0;}
}
@-webkit-keyframes ani-out{
    0%{top: 0; opacity: 0;}
    100%{top: -50; opacity: 1;}
}
.ani-out{
    animation: ani-out 0.5s linear;
    -webkit-animation: ani-out 0.5s linear;
}
